<link rel="stylesheet" href="/css/header.css" />

<nav class="o-nav">
  <div class="o-title-container">
    <h1 class="title">{{title}}</h1>
  </div>
  <ul class="o-menu">
    <li><a class="o-menu-item" href="/">Weather</a></li>
    <li><a class="o-menu-item" href="/about">About</a></li>
    <li><a class="o-menu-item" href="/help">Help</a></li>
  </ul>
</nav>