<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div class="content">
      <img class="prof-img" src="/img/myself.png" alt="">
      <h1>Hello my name is Juan Rojas</h1>
      <p>This was an app developed using express, I used the weather stack api to get the weather data</p>
    </div>
    {{>footer}}
  </body>
</html>